@page
@model proyecto1bases.Pages.opcionescotizacion
@{
    ViewData["Title"] = "Gesti贸n de Ventas";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/index.css">
</head>
<body>
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        
        @if (Model.CanCotizar)
        {
            <form method="get" action="/cotizacion/RegistrarCotizacion">
                <button type="submit">Cotizar</button>
            </form>
        }
        
        @if (Model.CanEditarCotizacion)
        {
            <form method="get" action="/cotizacion/EditarCotizacion">
                <button type="submit">Editar Cotizaci贸n</button>
            </form>
        }

        @if (Model.CanEliminarCotizacion)
        {
            <form method="get" action="/cotizacion/EliminarCotizacion">
                <button type="submit">Eliminar Cotizaci贸n</button>
            </form>
        }

        @if (Model.CanListaProductos)
        {
            <form method="get" action="/cotizacion/Cproductos">
                <button type="submit">Lista de productos de cotizaciones</button>
            </form>
        }

        @if (Model.CanAsociarTarea)
        {
            <form method="get" action="/cotizacion/AsociarTarea">
                <button type="submit">Tareas Cotizaci贸n</button>
            </form>
        }

        @if (Model.CanModificarTarea)
        {
            <form method="get" action="/cotizacion/modificarTarea">
                <button type="submit">Modificar Tarea</button>
            </form>
        }

        @if (Model.CanEliminarTarea)
        {
            <form method="get" action="/cotizacion/borrarTarea">
                <button type="submit">Eliminar Tarea</button>
            </form>
        }

        @if (Model.CanMostrarCotizaciones)
        {
            <form method="get" action="/cotizacion/MostrarCotizaciones">
                <button type="submit">Mostrar Cotizaciones</button>
            </form>
        }
    </div>
</body>
</html>
