@page
@model proyecto1bases.Pages.Cotizar
@{
    ViewData["Title"] = "Facturación";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/index.css">
</head>
<body>
    <div class="container">
        <h1>Cotizacion</h1>
        @if (Model.funciono){
            <div class="alert">
                <strong>¡Se realizo cotizacion!</strong>
            </div>
        }
        <form method="post">

            <div class="form-group">
                <label for="Cliente">Cliente:</label>
                <select id="Cliente" asp-for="Cliente" class="form-control" required>
                    <option value="">Seleccione una Empleado</option>
                    @foreach (var Clientes in Model.Clientes)
                    {
                        <option value="@Clientes.Id"> @Clientes.nombre  </option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="Mes">seleccione mes de cierre: </label>
                <select id="Mes" asp-for="M_cierre" class="form-control" required>
                    <option value="">Seleccione una opción</option>
                        <option value="">Seleccione un mes</option>
                        <option value="Enero">Enero</option>
                        <option value="Febrero">Febrero</option>
                        <option value="Marzo">Marzo</option>
                        <option value="Abril">Abril</option>
                        <option value="Mayo">Mayo</option>
                        <option value="Junio">Junio</option>
                        <option value="Julio">Julio</option>
                        <option value="Agosto">Agosto</option>
                        <option value="Setiembre">Setiembre</option>
                        <option value="Octubre">Octubre</option>
                        <option value="Noviembre">Noviembre</option>
                        <option value="Diciembre">Diciembre</option>
                </select>
            </div>
             <div class="form-group">
                <label for="Probabilidad">Probabilidad de cierre:</label>
                <select id="Probabilidad" name="Probabilidad" asp-for="Probabilidad" required>
                    <option value="">Seleccione un estado</option>
                    <option value="0">0%</option>
                    <option value="10">10%</option>
                    <option value="20">20%</option>
                    <option value="30">30%</option>
                    <option value="40">40%</option>
                    <option value="50">50%</option>
                    <option value="60">60%</option>
                    <option value="70">70%</option>
                    <option value="80">80%</option>
                    <option value="90">90%</option>
                    <option value="100">100%</option>
                </select>
            </div>
            <div class="form-group">
                <label for="seleccione el tipo de cotizacion">seleccione el tipo de cotizacion</label>
                <select id="seleccione el tipo de cotizacion" asp-for="Tipo" class="form-control" required>
                        <option value="">Seleccione un mes</option>
                        <option value="Cotización de Venta">Cotización de Venta</option>
                        <option value="Cotización de Servicio">Cotización de Servicio</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Descripcion">Descripcion</label>
                <textarea asp-for="Descripcion" class="form-control" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Crear cotizacion</button>
        </form>
    </div>
    <form method="get" action=/cotizacion/Cotizar>
            <button type="submit" class="boton-volver">Volver</button>
    </form>
</body>
</html>
