@page
@model proyecto1bases.Pages.CrearRoles

@{
    ViewData["Title"] = "Crear rol";
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Roles</title>
    <link rel="stylesheet" href="~/css/index.css"> 
</head>
<body>
    <div class="container">
        <h1>@ViewData["Title"]

        </h1>
                @if (Model.roltrue)
        {
            <div class="alert">
                <strong>Se creo el rol!</strong>
            </div>
        }
        <form method="post">
            <div class="form-group">
                <label for="NombreRol">Nombre del rol</label>
                <input type="text" asp-for="NombreRol" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="PVenta">Permiso para vender</label>
                <select id="PVenta" asp-for="PVenta" class="form-control" required>
                    <option value="">Seleccione una opción</option> 
                    <option value="true">Sí</option>  
                    <option value="false">No</option>   
                </select>
            </div>
            
            <h2>Modulo de Inventarios</h2>
            <div class="form-group">
                <label for="EInventario">Permiso de Edicion:</label>
                <select id="EInventario" asp-for="EInventario" class="form-control" itemref="" required>
                    <option value="" selected>Seleccione una opcion</option>
                    <option value="true">Si</option>  
                    <option value="false">No</option>   
                </select>
            </div>
            <div class="form-group">
                <label for="VInventario">Permiso de Visualizacion:</label>
                <select id="VInventario" asp-for="VInventario" class="form-control" required>
                    <option value="">Seleccione una opcion</option>
                    <option value="true">Si</option>  
                    <option value="false">No</option>   
                </select>
            </div>
            <div class="form-group">
                <label for="RInventario">Permiso de Reportes:</label>
                <select id="RInventario" asp-for="RInventario" class="form-control" required>
                    <option value="">Seleccione una opcion</option>
                    <option value="true">Si</option>  
                    <option value="false">No</option>   
                </select>
            </div>

            <h2>Modulo de Usuarios</h2>
            <div class="form-group">
                <label for="EUsuarios">Permiso de Edicion:</label>
                <select id="EUsuarios" asp-for="EUsuarios" class="form-control" required>
                    <option value="">Seleccione una opcion</option>
                    <option value="true">Si</option>  
                    <option value="false">No</option>   
                </select>
            </div>
            <div class="form-group">
                <label for="VUsuarios">Permiso de Visualizacion:</label>
                <select id="VUsuarios" asp-for="VUsuarios" class="form-control" required>
                    <option value="">Seleccione una opcion</option>
                    <option value="true">Si</option>  
                    <option value="false">No</option>   
                </select>
            </div>
            <div class="form-group">
                <label for="RUsuarios">Permiso de Reportes:</label>
                <select id="RUsuarios" asp-for="RUsuarios" class="form-control" required>
                    <option value="">Seleccione una opcion</option>
                    <option value="true">Si</option>  
                    <option value="false">No</option>   
                </select>
            </div>

            <h2>Modulo de Cotizacion</h2>
            <div class="form-group">
                <label for="ECotizacion">Permiso de Edicion:</label>
                <select id="ECotizacion" asp-for="ECotizacion" class="form-control" required>
                    <option value="">Seleccione una opcion</option>
                    <option value="true">Si</option>  
                    <option value="false">No</option>   
                </select>
            </div>
            <div class="form-group">
                <label for="VCotizacion">Permiso de Visualizacion:</label>
                <select id="VCotizacion" asp-for="VCotizacion" class="form-control" required>
                    <option value="">Seleccione una opcion</option>
                    <option value="true">Si</option>  
                    <option value="false">No</option>   
                </select>
            </div>
            <div class="form-group">
                <label for="RCotizacion">Permiso de Reportes:</label>
                <select id="RCotizacion" asp-for="RCotizacion" class="form-control" required>
                    <option value="">Seleccione una opcion</option>
                    <option value="true">Si</option>  
                    <option value="false">No</option>   
                </select>
            </div>

            <h2>Modulo de Factura</h2>
            <div class="form-group">
                <label for="EFactura">Permiso de Edicion:</label>
                <select id="EFactura" asp-for="EFactura" class="form-control" required>
                    <option value="">Seleccione una opcion</option>
                    <option value="true">Si</option>  
                    <option value="false">No</option>   
                </select>
            </div>
            <div class="form-group">
                <label for="VFactura">Permiso de Visualizacion:</label>
                <select id="VFactura" asp-for="VFactura" class="form-control" required>
                    <option value="">Seleccione una opcion</option>
                    <option value="true">Si</option>  
                    <option value="false">No</option>   
                </select>
            </div>
            <div class="form-group">
                <label for="RFactura">Permiso de Reportes:</label>
                <select id="RFactura" asp-for="RFactura" class="form-control" required>
                    <option value="">Seleccione una opcion</option>
                    <option value="true">Si</option>  
                    <option value="false">No</option>   
                </select>
            </div>

            <h2>Modulo de Cliente</h2>
            <div class="form-group">
                <label for="ECliente">Permiso de Edicion:</label>
                <select id="ECliente" asp-for="ECliente" class="form-control" required>
                    <option value="">Seleccione una opcion</option>
                    <option value="true">Si</option>  
                    <option value="false">No</option>   
                </select>
            </div>
            <div class="form-group">
                <label for="VCliente">Permiso de Visualizacion:</label>
                <select id="VCliente" asp-for="VCliente" class="form-control" required>
                    <option value="">Seleccione una opcion</option>
                    <option value="true">Si</option>  
                    <option value="false">No</option>   
                </select>
            </div>
            <div class="form-group">
                <label for="RCliente">Permiso de Reportes:</label>
                <select id="RCliente" asp-for="RCliente" class="form-control" required>
                    <option value="">Seleccione una opcion</option>
                    <option value="true">Si</option>  
                    <option value="false">No</option>   
                </select>
            </div>

            <h2>Modulo de Reporte</h2>
            <div class="form-group">
                <label for="EReporte">Permiso de Edicion:</label>
                <select id="EReporte" asp-for="EReporte" class="form-control" required>
                    <option value="">Seleccione una opcion</option>
                    <option value="true">Si</option>  
                    <option value="false">No</option>   
                </select>
            </div>
            <div class="form-group">
                <label for="VReporte">Permiso de Visualizacion:</label>
                <select id="VReporte" asp-for="VReporte" class="form-control" required>
                    <option value="">Seleccione una opcion</option>
                    <option value="true">Si</option>  
                    <option value="false">No</option>   
                </select>
            </div>
            <div class="form-group">
                <label for="RReporte">Permiso de Reportes:</label>
                <select id="RReporte" asp-for="RReporte" class="form-control" required>
                    <option value="">Seleccione una opcion</option>
                    <option value="true">Si</option>  
                    <option value="false">No</option>   
                </select>
            </div>

            <h2>Modulo de Casos</h2>
            <div class="form-group">
                <label for="ECasos">Permiso de Edicion:</label>
                <select id="ECasos" asp-for="ECasos" class="form-control" required>
                    <option value="">Seleccione una opcion</option>
                    <option value="true">Si</option>  
                    <option value="false">No</option>   
                </select>
            </div>
            <div class="form-group">
                <label for="VCasos">Permiso de Visualizacion:</label>
                <select id="VCasos" asp-for="VCasos" class="form-control" required>
                    <option value="">Seleccione una opcion</option>
                    <option value="true">Si</option>  
                    <option value="false">No</option>   
                </select>
            </div>
            <div class="form-group">
                <label for="RCasos">Permiso de Reportes:</label>
                <select id="RCasos" asp-for="RCasos" class="form-control" required>
                    <option value="" disabled selected >Seleccione una opcion</option>
                    <option value="true">Si</option>  
                    <option value="false">No</option>   
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Crear</button>
        </form>
    </div>
        <form method="get" action=/menus/ManejoUsuarios>
            <button type="submit" class="boton-volver">Volver</button>
        </form>
</body>
</html>

