@page
@model proyecto1bases.Pages.Planillas

@{
    ViewData["Title"] = "Gestión de Inventarios";
}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantilla</title>
    <link rel="stylesheet" href="~/css/index.css">
</head>
<body>
    <div class="container">
        <h2>Definir resultados</h2>

        @if (Model.funciono == 1)
        {
            <div class="alert">
                <strong>¡Se asigno a plantilla !</strong>
            </div>
        }
        @if (Model.funciono == 2)
        {
            <div class="alert">
                <strong>¡Este usaurio ya esta asigno a Plantilla!</strong>
            </div>
        }
        <form method="post">
            <div class="form-group">
                <label for="Cedula">Empleado</label>
                <select id="Cedula" asp-for="Cedula" class="form-control" required>
                    <option value="">Seleccione una Empleado</option>
                    @foreach (var Empleados in Model.Empleados)
                    {
                        <option value="@Empleados.Id"> @Empleados.nombre  </option>
                    }
                </select>
            </div> 
            <div class="form-group">
                <label for="Mes">seleccione mes </label>
                <select id="Mes" asp-for="Mes" class="form-control" required>
                    <option value="">Seleccione una opción</option>
                        <option value="">Seleccione un mes</option>
                        <option value="Enero">Enero</option>
                        <option value="Febrero">Febrero</option>
                        <option value="Marzo">Marzo</option>
                        <option value="Abril">Abril</option>
                        <option value="Mayo">Mayo</option>
                        <option value="Junio">Junio</option>
                        <option value="Julio">Julio</option>
                        <option value="Agosto">Agosto</option>
                        <option value="Setiembre">Setiembre</option>
                        <option value="Octubre">Octubre</option>
                        <option value="Noviembre">Noviembre</option>
                        <option value="Diciembre">Diciembre</option>
                </select>
            </div>
            <div class="form-group">
                <label for="año">Año:</label>
                <input type="number" asp-for="Año" class="form-control" required min="2000" max="2100">
            </div>
            <div class="form-group">
                <label for="horasN">Horas Normales:</label>
                <input type="number" asp-for="HorasN" class="form-control"required min="0">
            </div>
            <div class="form-group">
                <label for="horasE">Horas Extras:</label>
                <input type="number" asp-for="HorasE" class="form-control"required min="0">
            </div>
            <div class="form-group">
                <label for="fechaPago">Fecha de Pago:</label>
                <input type="date" asp-for="fecha_pago" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Crear Plantilla</button>
        </form>
    </div>
        <form method="get" action=/menus/ManejoUsuarios>
            <button type="submit" class="boton-volver">Volver</button>
        </form>
</body>
</html>


